/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #000;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #000;
}


/* Color white text
-------------------------------------------------- */

.color-text-white{
  color:white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-medium {
  margin: 3.5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-small {
  margin: 1rem 0  3rem; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading-standard {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading-standard {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .featurette-heading-standard {
    font-size: 50px;
  }
  .featurette-heading-small {
    font-size: 50px;
  }

  .myDiv {
    display:none !important;
  }


}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top:3.5rem;
  }

  .featurette-heading-standard {
    margin-top: 3rem;
  }

  .featurette-heading-small {
    margin-top: 1rem;
  }



}

@media (max-width: 62em){
  .hidde-element-mobile{
    display: none !important;

  }
  
  .col-xs{
    width: 50% !important;
  }

  .frigidaire{
    margin-top: 10px !important;
    width: 130px !important;
  }
  .mabe{
    margin-top: 7px !important;
  }
  .teka{
    width: 70px !important;
    margin-top: 5px;
  }

  .koblenz{
    width: 145px !important;
  }
  .mabe{
    width: 100px !important;
  }
  .maytag{
    width: 105px !important;
  }
  .samsung{
    margin-top:18px !important;
  }

  .pwp-background-first{
    background-image: unset !important;
  }
  .pwp-background-second{
    background-image: unset !important;
  }
  .pwp-background-third{
    background-image: unset !important;
  }
  .pwp-background-four{
    background-image: unset !important;
  }
  .pwp-background-five{
    background-image: unset !important;
  }
  .pwp-background-six{
    background-image: unset !important;
  }

  .pwp-background-uno-mobile{
    background-image: url('assets/img/servicio-tecnico-samsung-refrigerador.jpg') !important;
  }
  .pwp-background-first-mobile{
    background-image: url('assets/img/servicio-frigidaire-para-refrigeradores-mobile.jpg') !important;
  }
  .pwp-background-second-mobile{
    background-image: url('assets/img/servicio-frigidaire-para-estufas-mobile.jpg') !important;
  }
  .pwp-background-third-mobile{
    background-image: url('assets/img/servicio-frigidaire-para-estufas-a-domicilio-mobile.jpg') !important;
  }
  .pwp-background-four-mobile{
    background-image: url('assets/img/servicio-frigidaire-para-estufas-en-cdmx-mobile.jpg') !important;
  }
  .pwp-background-five-mobile{
    background-image: url('assets/img/sem-publicidad-campanas-en-google-mobile.png') !important;
  }
  .pwp-background-six-mobile{
    background-image: url('assets/img/paginas-web-premium-logo-slide-mobile.png') !important;
  }

  .pwp-one-subzero-mobile{
    background-image: url('assets/img/servicio-frigidaire-para-refrigeradores-mobile.jpg') !important;
  }
  .pwp-one-electrolux-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-electrolux-mobile.jpg') !important;
  }
  .pwp-two-subzero-mobile{
    background-image: url('assets/img/reparacion-mantenimiento-samsung-refrigerador-mobile.png') !important;
  }
  .pwp-three-subzero-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-subzero-mobile.jpg') !important;
  }
  .pwp-one-mabe-mobile{
  background-image: url('assets/img/reparacion-de-refrigeradores-mabe-mobile.jpg') !important;
}
.pwp-lavadora-mabe-mobile{
  background-image: url('assets/img/reparacion-de-lavadoras-mabe-mobile.png') !important;
}
.pwp-refrigerador-mabe-mobile{
  background-image: url('assets/img/reparacion-de-refrigerador-mabe-mobile.jpg') !important;
}
.pwp-one-acros-mobile{
  background-image: url('assets/img/reparacion-de-refrigerador-acros-mobile.png') !important;
}
.pwp-one-wwestinghouse-mobile{
  background-image: url('assets/img/reparacion-de-estufas-whitewestinghouse-mobile.jpg') !important;
}
.pwp-background-uno-samsung-mobile{
  background-image: url('assets/img/reparacion-lavadora-samsung-mobile.jpg') !important;
}
.pwp-one-electrolux-mobile{
  background-image: url('assets/img/reparacion-de-refrigeradores-electrolux-mobile.jpg') !important;
}

  .shadow-ask {
    box-shadow: none !important;
    border-bottom-right-radius: 0px !important;
  }

  .btn-mobile-action{
    display: inline-block !important;
  }

  .btn-web-action{
    display: none !important;
  }

  .tittle-h2{
    font-size: 1.8rem !important;
  }
  .mt {
    margin-top: 1.5rem !important;
  }
  .align-mobile{
    text-align: right;
  }

  .mt-img{
    margin-top:1.5rem;
  }
  .visa{
    margin-top: 10px !important;
  }

  .bbva{
    margin-top: 10px !important;
  }
}


/* ITEM SCROLLPY CSS CODE
------------------------------------------------------- */

.scrollspy-example {
  position: relative;
  height: 250px;
  margin-top: 1.2rem;
  overflow: auto;
}


/* GRID COLORS
-------------------------------------------------------- */

.cta-black{
  background-color: black !important;
  border-radius: unset !important;
  color:white; 
}

.cta-acros{
  background-color:#b70b9a !important;
  border-radius: unset !important;
  color:white; 
}

.cta-black-cement{
  background-color: #323333 !important;
  border-radius: unset !important;
  color:white; 
}

.cta-downgrey{
  background-color: #aaa !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluecream{
  background-color: #111526 !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluemaster{
  background-color: #006cdf !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluemarine{
  background-color: #222740 !important;
  border-radius: unset !important;
  color:white; 
}
.cta-grey{
  background-color: #646673 !important;
  border-radius: unset !important;
  color:white; 
}

.cta-red-frigidaire{
  background-color: #ee405a !important;
  border-radius: unset !important;
  color:white;
}

.cta-whirlpool{
  background-color: #EFB200 !important;
  border-radius: unset !important;
  color:white;
}


.bg-black{
  background-color: #000;
}

.bg-black-cement{
  background-color: #323333;
}

.text-black-cement{
  color: #323333;
}

.bg-bluecream{
  background-color: #111526;
}

.bg-grey{
  background-color: #646673;
}

.bg-downgrey{
  background-color: #aaa;
}

.bg-bluemaster{
  background-color: #006cdf;
}

.bg-red-frigidaire{
  background-color: #ee405a;
}
.padding-automatic-text{
  padding-bottom: 150;
  padding-left: 0;
  padding-right: 0;
  padding-top: 150;
}


.cta-div{
  width:100%;
  height:auto;
  background-color:#721dbf;
  -webkit-animation-name:example;
  -webkit-animation-duration:30s;
  animation-name:example;
  animation-duration:30s;
  animation-iteration-count:50;
  color:white !important;
}

@-webkit-keyframes example{
  0%{background-color:#721dbf}
  25%{background-color:#c432c9}
  50%{background-color:#f92c8b}
  100%{background-color:#721dbf}

}

@keyframes example{
  0%{background-color:#721dbf}
  25%{background-color:#c432c9}
  50%{background-color:#f92c8b}
  100%{background-color:#721dbf}
}

/* GRID COLORS
-------------------------------------------------------- */
.pwp-background-first-mobile{
  background-image: unset;
}
.pwp-background-second-mobile{
  background-image: unset;
}
.pwp-background-third-mobile{
  background-image: unset;
}
.pwp-background-four-mobile{
  background-image: unset;
}
.pwp-background-five-mobile{
  background-image: unset;
}
.pwp-background-six-mobile{
  background-image: unset;
}

.pwp-background-uno-samsung{
  background-image: url('assets/img/reparacion-lavadora-samsung.jpg');
}

.pwp-background-dos-samsung{
  background-image: url('assets/img/reparacion-mantenimiento-samsung-refrigerador.png');
}
.pwp-background-tres-samsung{
  background-image: url('assets/img/reparacion-mantenimiento-samsung-secadora-lavadora-centro-de-lavado.png');
}

.pwp-background-first{
  background-image: url('assets/img/servicio-frigidaire-para-refrigeradores.jpg');
}
.pwp-background-second{
  background-image: url('assets/img/servicio-frigidaire-para-estufas.jpg');
}
.pwp-background-third{
  background-image: url('assets/img/servicio-frigidaire-para-estufas-a-domicilio.jpg');
}
.pwp-background-four{
  background-image: url('assets/img/servicio-frigidaire-para-estufas-en-cdmx.jpg');
}
.pwp-background-five{
  background-image: url('assets/img/sem-publicidad-campanas-en-google.png');
}
.pwp-background-six{
  background-image: url('assets/img/paginas-web-premium-logo-slide.png');
}
.pwp-one-subzero{
  background-image: url('assets/img/servicio-frigidaire-para-refrigeradores.jpg') ;
}
.pwp-two-subzero{
  background-image: url('assets/img/reparacion-mantenimiento-samsung-refrigerador.png') ;
}
.pwp-three-subzero{
  background-image: url('assets/img/reparacion-de-refrigeradores-subzero.jpg') ;
}
.pwp-one-electrolux{
  background-image: url('assets/img/reparacion-de-refrigeradores-electrolux.jpg');
}
.pwp-one-mabe{
  background-image: url('assets/img/reparacion-de-refrigeradores-mabe.jpg');
}
.pwp-lavadora-mabe{
  background-image: url('assets/img/reparacion-de-lavadoras-mabe.png');
}
.pwp-refrigerador-mabe{
  background-image: url('assets/img/reparacion-de-refrigerador-mabe.jpg');
}
.pwp-one-acros{
  background-image: url('assets/img/reparacion-de-refrigerador-acros.png');
}

.pwp-one-wwestinghouse{
  background-image: url('assets/img/reparacion-de-estufas-whitewestinghouse.jpg');
}
/* LINK FOOTER COLOR
-------------------------------------------------------- */

.link-footer{
  color:green;
}

/* ZINDEX first
---- */

.position{
  z-index:999999!important;
}

.shadow-ask {
  box-shadow: 5rem 4rem 4rem rgba(0,52,69,0.100);
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

/* CANVA PARTICLES
-------------------------------------------------------- */


#particles-js{
  width: 100%;
  height: 400px;
  background-color: #222740;
  background-image: url('assets/img/logotipo-blanco-oficial.png');
  background-size: 160px 125px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* DISABLE Q&A OPTIONS LINK
-------------------------------------------------------- */
a.disabled {
  pointer-events: none;
  cursor: default;
}


/* TEXTOFORMAT CTA
-------------------------------------------------------- */

.text-color{
  color:white !important;

}

/*REMOVE DECORATION ON HOVER EFFECT

.text-color:hover{
  text-decoration: none;;
}

**/

 /* hidde btn mobile call
 ------------------------------------------------------- */
 .btn-mobile-action{
  display: none;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.tittle-h2{
  font-size: 3.5rem;
}



  /* TEXT SHOW
  -------------------------------------------------------- **/

  .text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
 }

/*MODAL DIALOG
----------------------------------------------------------- */

.modal-dialog{
  margin-top:115px;
}

.frigidaire{
  margin-top: 25px;
}
.mabe{
  margin-top: 12px;
}
.koblenz{
  margin-top: 12px;
}
.wolf{
  margin-top: 13px;
}
.lg{
  margin-top: 6px;
}
.samsung{
  margin-top:30px;
}
.torrey{
  width: 150px;
}


/*IMG SIZE AND CORRROUSEL WIDTH
----------------------------------------------------------- */
.img-size-png{
  width: 85%;
}

.img-size-png-frigo{
  width: 85%;
}

.carousel-caption {
  right: 12% !important ;
  left: 12% !important;
}



/*
---------------------------------------------------------- */
.mt {
  margin-top: 4.5rem;
}

.myDiv {
  background-color: #fff;
  top: 0;
  width: 100%;
  left: 0;
  padding: 10px 30px 2.5px 30px;
  border: 1px solid #e9e9e9 !important;
  display:none;
  z-index: 9999;
}

.whats-cta-sticky{
  float: right;
}

.call-cta-sticky{
  float: right;
}


.toast{
  position: fixed;
  z-index: 999;
  width: 325px;
  bottom: 5%;
  right: 5%;
}

.visa{
  margin-top: 20px;
}

.bbva{
  margin-top: 20px;
}

/** ----OUTLINE ACROS---- **/

.outline-acros{
  color: #b70b9a;
  border-color: #b70b9a;
}

.outline-acros:hover{
  color: #fff;
  border-color: #b70b9a;
  background-color: #b70b9a;
}

.outline-acros-mobile{
  color: #b70b9a;
  border-color: #b70b9a;
}
.outline-acros-mobile:hover{
  color: #fff;
  border-color: #b70b9a;
  background-color: #b70b9a;
}

/* --- ALERT COLORS ----- */
.acros-alert-color{
  background-color:#b70b9a;
  color:white;
}
.wwestinghouse-alert-color{
  background-color:#ff6414;
  color:white;
}